@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here 
  64em is also 1028px when basefont is 16px*/
  
    header img { width: 12%;
                margin: 1px;}

	  nav ul li { } 
    
    nav ul {margin-left: 2%;
        
            flex-direction: row;
    }
  
    nav button { display: none; }  /* hamburger button does not need to be shown */
    
	nav ul.hide {display: flex;}
	
	nav ul li a { 
                border: none;
				border-right: 1px solid rgba(0,0,0,0.3);
				padding: .6rem 1rem;
				}
    
    article p.town-article img { width: 49.333%; }
    
    section.home { grid-template-columns: repeat(3, 1fr); }
  
    .photoGrid { grid-template-columns: repeat(3, 1fr); } 
    
    main figure.shadow:hover {box-shadow: 5px 5px grey;}
}