/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #FFFAFA; 
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 930px;
    margin: 0 auto;
}

header {}

header figure { width: 10%;
            margin: 0 2% 0 0;
			float: left;
			}
header figure img { width: 100%;}			

header h1 { font-size: 50px;
            color: #2B4B6F;
            
            
			}
			
header .subheading { font-size: 22px;
                     padding-bottom: 15px;
                     margin-top: -20px;
					}

nav { background-color: #297B48; }
nav button { margin: .2rem 2%;
			background-color: transparent;
			border: none;
			font-size: 1.6rem;
			color: #fff;
			}
			
nav ul  {    
             display: flex;
             flex-direction: column;
              
              
             list-style-type: none;
             margin: 0;
             padding: 0.3em;
             }
			 
nav ul li { }

nav ul li a { display: block;
              color: #FFFFFF; 
              padding: .8rem 2%;
              text-decoration: none;
              font-size: 26px;
			  border-top: 1px solid rgba(0,0,0,0.3);
            }
nav ul li.active a { background-color: rgba(0,0,0,0.2); }
nav ul li a:hover { background-color: rgba(0,0,0,0.4); }

nav ul.hide {display: none;}

main {}
main h2 { font-size: 35px;
          color: #2B4B6F;
          text-align: center;
        clear: both;
        }
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; 
                  
                }

main section { text-align: center;
               }

 
                

main section picture { width: 100%;}


section {}

article h3 { font-size: 28px;
             color: #2B4B6F;
             text-align: center;
            }

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 100%; /* fill the page in the small/phone view */
  margin: 1px;
}

footer { clear: both;
        text-align: center;
        background-color: #297B48;
        color: #FFFFFF;
        padding: 2%;
        }
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
.forecast { display: none; }

.current { color: #2B4B6F;
        font-weight: bold;
        font-size: 28px; }

.highlow {
        color: #2B4B6F;
        font-weight: bold;
        font-size: 20px;
}

section.home { 
                display: grid;
                grid-gap: 3px;
                }
section h3 { color: #2B4B6F;
             font-size: 2em;
}

.photoGrid {
            display: grid;
            
            grid-gap: 3px;
}

figure.shadow { border-style: double;}

/*Form styling*/
form#storm {
    margin: 1em 3%;
}

fieldset {
    background-color: #e1eef2;
    margin: 1.5em 
}

legend {
    color:#fff;
    margin-left: 6%;
    padding: .5em;
    border: #917a56 solid 1px;
    background-color: #2b4b6f;
    border-radius: .4em;
}

label {
    display: block;
    margin: .5em;
}

label span {
    display: block;
    font-size: 1em;
    color: #2b4b6f;
    padding-top: .9em;
    padding-bottom: .2em;
}

.submitBtn {
    -webkit-appearance: none; /*remove the apple mobile default styling*/
    color: #fff;
    border: solid 1px #111;
    border-radius: 7px;
    width: 30%;
    margin: 1em 3%;
    font-size: 2em;
    padding: .5em;
    background: #423075;
    box-shadow: 4px 4px 10px #666;
}


/*clearfix prevents elements from collapsing*/		
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}