/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #FFFAFA; 
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 930px;
    margin: 0 auto;
}

header {}
header h1 { font-size: 50px;
            color: #2B4B6F;
            text-align: center;
            }
header figure .logoImg { width: 20%;
            margin: 1px;}
header figure .logoImg img { width: 100%;}			
			
header .subheading { font-size: 22px;
                     text-align: center;
                    }

nav {}
nav button {}
nav ul  { list-style-type: none;
             margin: 0;
             padding: 0;
             
            }
nav ul li { background-color: #297B48;}
nav ul li a { display: block;
              color: #FFFFFF; 
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 26px;
            }
nav ul li.active a { background-color: #423075; }
nav ul li a:hover { background-color: darkseagreen; }

main {}
main h2 { font-size: 35px;
          color: #2B4B6F;
          text-align: center;
        clear: both;
        }
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; 
                  
                }

main section { text-align: center;
               }

 
                

main section picture { width: 100%;}


section {}

article h3 { font-size: 28px;
             color: #2B4B6F;
             text-align: center;
            }

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 100%; /* fill the page in the small/phone view */
  margin: 1px;
}

footer { clear: both;
        text-align: center;
        background-color: #297B48;
        color: #FFFFFF;
        }
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
.forecast { display: none; }

.current { color: #2B4B6F;
        font-weight: bold;
        font-size: 24px; }