body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("donald-giannatti-HWTXldFPVKM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(156, 127, 63);
}

.container {
    display: table;
    max-width: 350px;
    width: 100%;
    margin: 10% auto 0;
    background-color: rgb(250, 250, 245); 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #db7749;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#list {
    margin: 5px;
    list-style-type: none;
    padding: 5px;
}

#list li {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

#list li > label {
    flex: 1 0 10em;
}

.buttons {
    display: flex;
    justify-content: center;
   
}

.buttons div {
    margin-right: 2px;
}

.buttons input {
    margin: 2px;
}

.enterTask {
    margin-top: 30px;
    padding: 10px;
    display: flex;
}

#todoInput {
    margin: 0 0 0 7px;
    width: 100%;
    padding: 5px;
}

